<div class="line-number">
  <span>
    {{ annotatedInstruction.lineNumber }}
  </span>
</div>

<div class="line-content">
  <pre class="bit-annotations">; <annotated-bits
      *ngFor="let bits of annotatedInstruction.annotatedBits"
      [bits]="bits"
      [instruction]="annotatedInstruction.instruction"
      [class.is-byte-end]="bits.isByteEnd"
    ></annotated-bits></pre>
  <div class="asm">{{ annotatedInstruction.asm }}</div>
</div>

<div class="simulation-state-diff">
  <ng-container *ngIf="simulationStateDiff">
    <span *ngFor="let diff of simulationStateDiff; let isLast = last"
      >{{ diff.key }}: 0x{{ diff.from.toString(16).padStart(4, '0') }} -> 0x{{
        diff.to.toString(16).padStart(4, '0')
      }}</span
    >
  </ng-container>
</div>
