<input type="file" (change)="gotFile($event)" />

<ng-container *ngIf="instructionBytes">
  <div>
    <button (click)="decodeAndPrint()">Decode and Print</button>
  </div>

  <div>
    <button (click)="decodeAndPrintWithBytes()">Decode and Print With Bytes</button>
  </div>

  <div>
    <button (click)="incompleteDecodeAndAnnotate()">Decode and Annotate</button>
  </div>
</ng-container>

<pre>{{ instructionString }}</pre>

<ng-container *ngIf="annotatedInstructions">
  <ng-container *ngFor="let annotatedInstruction of annotatedInstructions; let i = index">
    <pre>{{ i + 1 }}</pre>
    <pre>{{ annotatedInstruction.asm }}</pre>
    <pre>{{ annotatedInstruction.instruction.kind }}</pre>
    <pre><span *ngFor="let bits of annotatedInstruction.annotatedBits">{{ bits.category }}: {{ bits.value.toString(2).padStart(bits.length, '0') }}  </span></pre>
    <pre>orig: <span *ngFor="let byte of annotatedInstruction.originalBytes; let j = index"><span *ngIf="byte !== annotatedInstruction.normalizedBytes[j]">🤨</span>{{ byte.toString(2).padStart(8, '0') }}   </span></pre>
    <pre>norm: <span *ngFor="let byte of annotatedInstruction.normalizedBytes; let j = index"><span *ngIf="byte !== annotatedInstruction.originalBytes[j]">🤨</span>{{ byte.toString(2).padStart(8, '0') }}   </span></pre>
    <hr />
  </ng-container>
</ng-container>

<button *ngIf="instructionString" type="button" (click)="download()">Download</button>
