<h1>JoeTDC's 8086 Disassembler/Assembler/Simulator</h1>
<h2>🚨🐷🚨🐛🚨 This is a toy project - not complete, fast or bug-free! 🚨🐛🚨🐷🚨</h2>

<div class="content">
  <div class="upload-button-container" *ngIf="!annotatedInstructions">
    <input style="display: none" type="file" (change)="gotFile($event)" #fileInput />

    <button (click)="fileInput.click()">Upload File</button>
  </div>

  <div *ngIf="annotatedInstructions" class="annotated-instructions">
    <annotated-instruction
      *ngFor="let annotatedInstruction of annotatedInstructions"
      [annotatedInstruction]="annotatedInstruction"
    >
    </annotated-instruction>
  </div>

  <!-- <button *ngIf="instructionString" type="button" (click)="download()">Download</button> -->
</div>
