@use './sass/colors.scss';

:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

h1 {
  padding: 16px 0;
  text-align: center;
}

h2 {
  padding: 10px;
  text-align: center;
  font-size: 1.2em;
  font-style: italic;
}

h3 {
  padding: 8px;
  text-align: center;
}

.content {
  flex: 1 1 100%;
  min-height: 0;
}

.upload-button-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

$button-pad-vertical: 8px;
$button-pad-horizontal: 12px;

button {
  border: 2px solid colors.$main-content;
  padding: $button-pad-vertical $button-pad-horizontal;
  cursor: pointer;
  transition: background-color 0.3s;
  user-select: none;

  &:hover {
    background-color: colors.$tint;
  }

  &:focus {
    background-color: colors.$tint;
    outline: 2px solid colors.$main-content;
    padding: calc($button-pad-vertical - 1px) calc($button-pad-horizontal - 1px);
    border-width: 3px;
  }
}

input {
  background: #222222;
  padding: 2px;
}

.output {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.main-output {
  flex: 1 1 100%;
  display: flex;
  flex-direction: row;
  min-height: 0;
}

.simulation-state {
  flex: 1 0 auto;
  display: grid;
  grid-template-columns: 78% 22%;
}

.cpu-state-content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.annotated-instructions {
  height: 100%;
  flex: 50%;
  overflow-y: auto;
}

.simulation-trace {
  height: 100%;
  flex: 50%;
  overflow-y: auto;
}

.memory-state-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  row-gap: 4px;
}
