$background: #111111;
$main-content: #eeeeee;
$tint: #444444;

$lockPrefix-content: #f6d0d0;
$lockPrefix-background: #2a0404;
$lockPrefix-border: #d21312;

$repPrefix-content: #cdf4e7;
$repPrefix-background: #01281b;
$repPrefix-border: #03c988;

$opCode-content: #f6effe;
$opCode-background: #2a2332;
$opCode-border: #d4adfc;

$mod-content: #d2dcea;
$mod-background: #06101e;
$mod-border: #205295;

$reg-content: #ddd5ce;
$reg-background: #110902;
$reg-border: #562b08;

$rm-content: #e0e5e1;
$rm-background: #141915;
$rm-border: #647e68;

$dBit-content: #f0dce1;
$dBit-background: #241015;
$dBit-border: #b25068;

$wBit-content: #f7f7f7;
$wBit-background: #2b2b2b;
$wBit-border: #d8d8d8;

$sBit-content: #fecdf5;
$sBit-background: #320129;
$sBit-border: #f806cc;

$vBit-content: #dcecd8;
$vBit-background: #10200c;
$vBit-border: #4e9f3d;

$segReg-content: #f9e2d8;
$segReg-background: #2d160c;
$segReg-border: #e2703a;

$segmentOverridePrefix-content: #d0eaf1;
$segmentOverridePrefix-background: #041e25;
$segmentOverridePrefix-border: #1597bb;

$escOpCode-content: #f2e2fc;
$escOpCode-background: #261630;
$escOpCode-border: #bc6ff1;

$ipInc8-content: #cdf3ec;
$ipInc8-background: #012720;
$ipInc8-border: #03c4a1;

$ipIncLo-content: #cdf3ec;
$ipIncLo-background: #012720;
$ipIncLo-border: #03c4a1;

$ipIncHi-content: #dceae3;
$ipIncHi-background: #101e17;
$ipIncHi-border: #519872;

$ipLo-content: #f4ccd7;
$ipLo-background: #28000b;
$ipLo-border: #c70039;

$ipHi-content: #e9ced9;
$ipHi-background: #1d020d;
$ipHi-border: #900c3f;

$dispLo-content: #dbdaed;
$dispLo-background: #0f0e21;
$dispLo-border: #4a47a3;

$dispHi-content: #d9d8e1;
$dispHi-background: #0d0c15;
$dispHi-border: #413c69;

$dataLo-content: #fff3e5;
$dataLo-background: #332719;
$dataLo-border: #fdc57b;

$dataHi-content: #eae8de;
$dataHi-background: #1e1c12;
$dataHi-border: #978d58;

$segLo-content: #f7d3d3;
$segLo-background: #2b0707;
$segLo-border: #d72323;

$segHi-content: #f9d8dd;
$segHi-background: #2d0c11;
$segHi-border: #e23e57;
